.statidistics-progress {
  display: flex;
  gap: 2rem;
}

.statidistics {
  display: flex;
  width: 100%;
}

.contenedor-estadisticas-barra {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 2rem;
}

.tabla {
  width: 40%;
}

.mes {
  display: flex;
  margin: 2rem 0.5rem;
  font-weight: 300;
}

.contenedor-metricas {
  display: flex;
  gap: 4rem;
}

.contenedor-login{
  display: flex;
}

.img-fondo{
  width: 100%;
}

.login{
  width: 50%;
}

.img-login{
  width: 50%;
}

@media (max-width: 1000px) {
  .img-login{
    display: none;
  }

  .login {
    width: 100%;
    background-image: url(./../imagenes/grovat-fondo.jpeg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-size: 50%;
    height: 800px;
    background-color: #25272E;
  }
  
}

.form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}

.boton-login{
width: 100%;
background-color: #25272E;
}

.boton-login:hover{
  background-color: #818181 !important;
  }