.statidistics-progress {
  display: flex;
  gap: 2rem;
}

.statidistics {
  display: flex;
  width: 100%;
}

.contenedor-estadisticas-barra {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 2rem;
}

.tabla {
  width: 40%;
}

.mes {
  display: flex;
  margin: 2rem 0.5rem;
  font-weight: 300;
}

.contenedor-metricas {
  display: flex;
  gap: 4rem;
}
