.logo{
    width: 180px;
    margin:0.5rem 1rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.user{
    color: white;
    font-size: 20px;
}